<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AppConnectionString" connectionString="Server=172.16.19.2:30015;UserID=SYSTEM;Password=Password#01;Current Schema=SUHUT_DATAACCESS;" providerName="Sap.Data.Hana"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
